<div class="whole">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6  animate__animated  animate__fadeInDown container">
        <div class="text-center mb-5">
            <div class="text-900 text-3xl mb-3 title">Welcome Back!</div>
            <span class="text-600 font-medium line-height-3">Don't have an account?</span>
            <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" 
            routerLink="signup" >Sign Up!</a>
        </div>

        <div>
            <label for="email1" class="block text-900  mb-2">Email</label>
            <input id="email1" type="text" pInputText class="w-full mb-3" [(ngModel)]= "email">

            <label for="password1" class="block text-900  mb-2">Password</label>
            <input id="password1" type="password" pInputText class="w-full mb-3" [(ngModel)]= "password">
            <p-toast></p-toast>

            <div class="flex align-items-center justify-content-between mb-6">
                <div class="flex align-items-center">
                </div>
                <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>
            </div>

            <button pButton pRipple label="Log In" icon="pi pi-user" class="w-full" (click) = "handleLogin()"></button>
        </div>
    </div>
</div>