div {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  z-index: 4;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);

}

li {
  float: left;
}

a {
  display: block;
  float: left;
  color: #6c420c;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: max-content;
}

a:hover:not(.active) {
  text-decoration: underline;
}

a.active {
  color: #6c420c;
  font-weight: 900;
  scale: 1.1;
}

a.left {
  position: absolute;
  top: 0;
  right: 0;
}
